*/.gradle/
.DS_Store
.idea*
*.swp
*.sublime*
*.vscode

# @tmp folders created by Jenkins pipelines
*@tmp

# Created by sonar-scanner running in pipelines
.scannerwork
.vagrant

docker-compose/

node_modules/
**/.helm

**/helm/*/charts

**/lombok.config

**/venv
local.properties
tmp
build.properties
build/
.gradle
*.iml
!.idea/copyright/
!.idea/scopes/
.idea/
!.idea/codeStyleSettings.xml
.settings
crawled
generated-sources
*/build
*/out
*/data
*/data_testNet
*/logs
classes
!ops/*/build
*.log
/data
